#container
{
	margin: 0 auto;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
	text-align: center;
}

#header h1 { margin: 0; }

#navigation
{
	background: #333;
	
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	
	text-decoration: none;
}


#content-container
{
}

#content
{
	clear: left;
	float: left;
	width: 100%;
	height: 590px;
	padding: 20px 0;
	margin: 0 auto;
	display: inline;
	overflow: auto;
}

#content h2 { margin: 0; }

#aside h3 { margin: 0; }

#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.ui-datatable {
	font-size: 12px;
}

.ui-menu .ui-menuitem-text {
    float: left;
    font-size: 16px;
}

.ui-widget-content {
    color: #4F4F4F;
    font-size: 12px;
}

.ui-widget-header {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}