<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet name="style.css" library="css" />
	<title>
		<ui:insert name="title">Wypożyczalnia płyt DVD</ui:insert>
	</title>
</h:head>

<h:body>
	
		<div id="container">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="/views/main/commonHeader.xhtml" />
				</ui:insert>
			</div>
		<h:form>
			<div id="navigation">
					<ui:insert name="navigation">
						<ui:include src="/views/main/navigation.xhtml" />
					</ui:insert>
			</div>
		</h:form>

			<div id="content-container">
				<div id="content">
					<h:form id="contentForm">
						<ui:include src="#{menuBean.activePage}" />
					</h:form>
				</div>
				<div id="footer">
					<ui:insert name="footer">
						<ui:include src="/views/main/commonFooter.xhtml" />
					</ui:insert>
				</div>
			</div>

		</div>
	

</h:body>


</html>