<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="addForm" prependId="false">
	 
		<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"
			id="addFormPanelGrid">

			<f:facet name="header">
	        	Dodawanie nowego członka
	    	</f:facet>

			<h:outputText value="Imię: *" />
			<p:inputText id="firstName" label="Firstname"
				value="#{memberBean.member.firstName}" 
				required="true">
				<f:validator validatorId="requiredValidator" />
				<f:validateLength minimum="1" maximum="255" for="firstName" />
				</p:inputText>

			<h:outputText value="Nazwisko: *" />
			<p:inputText id="surname" label="Surname"
				value="#{memberBean.member.surname}" 
				required="true" validator="requiredValidator">
				<f:validateLength minimum="1" maximum="255" for="surname" />
				</p:inputText>

			<h:outputText value="E-mail: *" />
			<p:inputText id="email" label="E-mail"
				value="#{memberBean.member.email}" 
				required="true"
				>
				<f:validateLength minimum="1" maximum="255" for="email" />
				<f:validator validatorId="emailValidator" />
				<f:validator validatorId="requiredValidator" />
				</p:inputText>

			<p:commandButton value="Dodaj"
				actionListener="#{memberBean.addMember}" update="output" />
			<p:commandButton value="Wyczyść" update="output,addFormPanelGrid"
				process="@this"
				actionListener="#{menuBean.resetInput('contentForm:addForm')}" />
				 
		</p:panelGrid>
		

		<h:panelGroup layout="block" id="output" style="margin: 0 auto;">
			<p:messages id="messages" />
		</h:panelGroup>
	</h:form>



</ui:composition>