<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="memberForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste członków i możliwe akcje do wykonania -->
		<p:dataTable var="member" value="#{memberBean.memberList}"
			emptyMessage="Brak rekordów w bazie." id="mDataTable">
			
			<f:facet name="header">  
            	Lista członków wypożyczalni
       		 </f:facet> 
			<p:column headerText="Imię">
				<h:outputText value="#{member.firstName}" />
			</p:column>
			<p:column headerText="Nazwisko">
				<h:outputText value="#{member.surname}" />
			</p:column>
			<p:column headerText="E-mail">
				<h:outputText value="#{member.email}" />
			</p:column>
			<p:column>
				<p:commandButton value="Usuń" update=":contentForm:memberForm:deleteForm:delete" oncomplete="deleteDlg.show()" process="@this">
					<f:setPropertyActionListener value="#{member}" target="#{memberBean.member}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	
	<!-- Formularz kasowania członka -->
	<p:dialog header="Potwierdź usunięcie członka" id="deleteDlg" widgetVar="deleteDlg" resizable="true"	modal="true">
	
		<!--  zamkniecie formularza powoduje aktualizacje tabelki oraz zresetowanie danych wejsciowych z formularza -->
		<p:ajax event="close" update="mDataTable" listener="#{menuBean.resetInput('contentForm:memberForm:deleteForm')}"/>  

		<h:form id="deleteForm">
			<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"	id="delete">
				<h:outputText value="Imię"  />
				<h:outputText value="#{memberBean.member.firstName}"  />
				
				<h:outputText value="Nazwisko"  />
				<h:outputText value="#{memberBean.member.surname}"  />
				
				<h:outputText value="Email"  />
				<h:outputText value="#{memberBean.member.email}"  />
				
				<p:commandButton value="Usuń" process="@form" action="#{memberBean.deleteMember}">
					<f:param name="id" value="#{memberBean.member.id}" />		
				</p:commandButton>
				
				<p:commandButton value="Anuluj" onclick="deleteDlg.close()" >
		
				</p:commandButton>
				
						
			</p:panelGrid>
		
		</h:form>
	</p:dialog>
</h:form>
</ui:composition>