<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="memberForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste członków i możliwe akcje do wykonania -->
		<p:dataTable var="member" value="#{memberBean.memberList}"
			emptyMessage="Brak rekordów w bazie." id="mDataTable">
			<f:facet name="header">  
            	Lista członków wypożyczalni
       		 </f:facet>  
			<p:column headerText="Imię">
				<h:outputText value="#{member.firstName}" />
			</p:column>
			<p:column headerText="Nazwisko">
				<h:outputText value="#{member.surname}" />
			</p:column>
			<p:column headerText="E-mail">
				<h:outputText value="#{member.email}" />
			</p:column>
			<p:column>
				<p:commandButton value="Edytuj" update=":contentForm:memberForm:editForm:edit" oncomplete="editDlg.show()" process="@this">  
                	<f:setPropertyActionListener value="#{member}" target="#{memberBean.member}" />  
                </p:commandButton>
			</p:column>
		</p:dataTable>

	
	<!-- Formularz edycji -->
	<p:dialog header="Edycja członka" id="editDlg" widgetVar="editDlg" resizable="true"	modal="true">
		<p:ajax event="close" update="editDlg,mDataTable" listener="#{menuBean.resetInput('contentForm:memberForm:editForm')}"/>  
		<h:form id="editForm">
			<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"
				id="edit">
	 
				<h:outputText value="Imię: *"  />
				<p:inputText id="firstName" label="Firstname"
					value="#{memberBean.member.firstName}" 
					required="true" validator="requiredValidator">
					</p:inputText>
	
				<h:outputText value="Nazwisko: *" />
				<p:inputText id="surname" label="Surname"
					value="#{memberBean.member.surname}" 
					required="true" validator="requiredValidator"/>
	
				<h:outputText value="E-mail: *" />
				<p:inputText id="email" label="E-mail"
					value="#{memberBean.member.email}" 
					required="true" validator="requiredValidator">
					<f:validator validatorId="emailValidator" />
					</p:inputText>
	
				<p:commandButton value="Edytuj" update="outInfo" process="@form" action="#{memberBean.editMember}"
				oncomplete="if (!args.validationFailed) editDlg.hide()">
					<f:param name="id" value="#{memberBean.member.id}" />
					<f:param name="email" value="#{memberBean.member.email}" />
					<f:setPropertyActionListener value="#{memberBean.member}" target="#{memberBean.edited}" />
				</p:commandButton>
				
			</p:panelGrid>
			
			<h:panelGroup layout="block" id="outInfo" style="margin: 0 auto;">
				<p:messages id="messages" />
			</h:panelGroup>
				
		</h:form>
			
	</p:dialog>
</h:form>
</ui:composition>