<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<f:metadata>
  <f:event type="preRenderView" listener="#{rentBean.reset}"/>
	</f:metadata>
	<h:form id="addForm" prependId="false">
	 
	<p:panelGrid columns="3" style="margin: 0 auto; text-align: center"	id="addFormPanelGrid">

			<f:facet name="header">
	        	Rejestracja nowego wypożyczenia
	    	</f:facet>

			<h:outputText value="Dane wypożyczającego:" />
			<p:outputPanel id="memberInfo">
				<h:outputText value="#{rentBean.member.firstName}" /> <br />
				<h:outputText value="#{rentBean.member.surname}" /> <br />
				<h:outputText value="#{rentBean.member.email}" /> <br />
			</p:outputPanel>

			<p:commandButton value="Wybierz" oncomplete="chooseMember.show()"  />
			
			<p:commandButton value="Dodaj film do koszyka" oncomplete="chooseMovie.show()" 
			update=":contentForm:movieListForm:movieList" process="@this" />
			<p:commandButton value="Kasuj zawartość koszyka" action="#{rentBean.clearRentList}" update="moviesToRent"/>
			<p:commandButton value="Zatwierdź koszyk i wypożycz filmy" action="#{rentBean.saveRent}" update="messages,contentForm" ajax="false"/>
			<p:commandButton value="Wyczyść formularz" update="memberInfo,moviesToRent,:contentForm:movieListForm:movieList" action="#{rentBean.clearForm}" process="@this"/>
			
			
		 
	</p:panelGrid>
	<p:messages id="messages" />  
	
	<p:dataTable var="movie" value="#{rentBean.moviesToRent}" emptyMessage="" rowIndexVar="rowIndex"
		id="moviesToRent">
		<f:facet name="header">  
            	Filmy w koszyku
       	</f:facet>
		<p:column headerText="Lp.">
			#{rowIndex+1}
		</p:column>
		<p:column headerText="Tytuł">
			#{movie.title}
		</p:column>
		<p:column headerText="Gatunki">
			<ui:repeat value="#{movie.genres.toArray()}" var="genre">
					<h:outputText value="#{genre.name}" /> <br />
			</ui:repeat>
		</p:column>
		<p:column headerText="">
			<p:commandButton value="Usuń" action="#{rentBean.removeFromRentList(movie)}" update="moviesToRent"/>
		</p:column>
	</p:dataTable>
	</h:form>
	
	<h:form id="memberListForm">
			
			<p:dialog header="Wybór wypożyczającego" id="chooseMember" widgetVar="chooseMember" resizable="true"	modal="true">
				<p:dataTable var="member" value="#{memberBean.memberList}" emptyMessage="Brak rekordów w bazie.">
					<p:column headerText="Imię">
						<h:outputText value="#{member.firstName}" />
					</p:column>
					<p:column headerText="Nazwisko">
						<h:outputText value="#{member.surname}" />
					</p:column>
					<p:column headerText="E-mail">
						<h:outputText value="#{member.email}" />
					</p:column>
					<p:column>
						<p:commandButton value="Wybierz" update=":contentForm:addForm:memberInfo" oncomplete="chooseMember.hide()" process="@form"
						action="#{rentBean.setMember(member)}">  
		                </p:commandButton>
					</p:column>
				</p:dataTable>
	
			</p:dialog>
	</h:form>
	
	<h:form id="movieListForm">
		<p:dialog header="Wybór filmu do wypożyczenia" id="chooseMovie" widgetVar="chooseMovie" resizable="true"	modal="true" width="800" height="450">
				<p:dataTable var="movie" value="#{rentBean.availableMoviesList}" emptyMessage="Brak rekordów w bazie."
				id="movieList">
					<p:column headerText="Tytuł" >
						<h:outputText value="#{movie.title}" />
					</p:column>
					<p:column headerText="Gatunki" >
						<ui:repeat value="#{movie.genres.toArray()}" var="genre">
							<h:outputText value="#{genre.name}" /> <br />
						</ui:repeat>
					</p:column>
					<p:column style="max-width:50px">
						<p:commandButton value="Wybierz" update=":contentForm:addForm:moviesToRent" oncomplete="chooseMovie.hide()" process="@form"
						action="#{rentBean.addToRentList(movie)}">  
		                </p:commandButton>
					</p:column>
				</p:dataTable>
	
			</p:dialog>
	
	</h:form>



</ui:composition>