<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	 
	 
	<p:dataTable id="wypozyczoneFilmy" var="rent" value="#{tableBean.carsSmall}">  
  
        <f:facet name="header">  
           Dane o wypożyczeniu
        </f:facet>  
         
         
       <p:column headerText="Imię">    
  
        </p:column>  
  
        <p:column headerText="Nazwisko">  
            
        </p:column>  
  
        <p:column headerText="Email">  
             
        </p:column>  
    
        <f:facet name="footer">  
            
        </f:facet>  
  
    </p:dataTable>  


</ui:composition>