<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
	    <ui:composition>
 
		<p>Wykonał: Mateusz Wesołowski <br />
		Nr indeksu: 9278, Grupa: 5<br />
		II rok informatyki - studia niestacjonarne <br />
		Polsko-Japońska Wyższa Szkoła Technik Komputerowych</p>
 
	    </ui:composition>
    </body>
</html>