<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      >
      <h:head>
      <h:outputStylesheet name="style.css" library="css" />
      </h:head>
    <body>
	    <ui:composition>
 
		<p:menubar autoDisplay="false">
					<p:menuitem value="Główna"
						actionListener="#{menuBean.setActivePage('/views/main/commonContent.xhtml')}"
						ajax="false"/>
					<p:submenu label="Zarządzaj członkami" icon="ui-icon-document">
							<p:menuitem value="Dodaj"
								actionListener="#{menuBean.setActivePage('/views/member/addMember.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Edytuj"
								actionListener="#{menuBean.setActivePage('/views/member/editMember.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Usuń"
								actionListener="#{menuBean.setActivePage('/views/member/deleteMember.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
					</p:submenu>
					<p:submenu label="Gatunki filmów" icon="ui-icon-document"
							ajax="false">
							<p:menuitem value="Dodaj"
								actionListener="#{menuBean.setActivePage('/views/genre/addGenre.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Edytuj" 
								actionListener="#{menuBean.setActivePage('/views/genre/editGenre.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Usuń"  
								actionListener="#{menuBean.setActivePage('/views/genre/deleteGenre.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
						</p:submenu>
					<p:submenu label="Baza filmów" icon="ui-icon-document">
							<p:menuitem value="Dodaj"
								actionListener="#{menuBean.setActivePage('/views/movie/addMovie.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Edytuj" 
								actionListener="#{menuBean.setActivePage('/views/movie/editMovie.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Usuń"  
								update=":contentForm" 
								actionListener="#{menuBean.setActivePage('/views/movie/deleteMovie.xhtml')}"
								ajax="false"/>
					</p:submenu>
					<p:submenu label="Wypożyczenia" icon="ui-icon-document">
							<p:menuitem value="Dodaj nowe"
								actionListener="#{menuBean.setActivePage('/views/rent/addRent.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
							<p:menuitem value="Pokaż wypożyczone filmy" 
								actionListener="#{menuBean.setActivePage('/views/movie/editMovie.xhtml')}"
								update=":contentForm" 
								ajax="false"/>
					</p:submenu>
			</p:menubar>
	    </ui:composition>
    </body>
</html>