<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="addForm" prependId="false">
	 
		<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"
			id="addFormPanelGrid">

			<f:facet name="header">
	        	Dodawanie nowego gatunku
	    	</f:facet>

			<h:outputText value="Nazwa: *" />
			<p:inputText id="name" label="name"
				value="#{genreBean.genre.name}" 
				required="true" validator="genreValidator">
				<f:validateLength minimum="1" maximum="255" for="name" />
				<f:converter converterId="genreConverter" />
			</p:inputText>

			<p:commandButton value="Dodaj"
				actionListener="#{genreBean.addGenre}" update="output" />
			<p:commandButton value="Wyczyść" update="output,addFormPanelGrid"
				process="@this"
				actionListener="#{menuBean.resetInput('contentForm:addForm')}" />
				 
		</p:panelGrid>
		

		<h:panelGroup layout="block" id="output" style="margin: 0 auto;">
			<p:messages id="messages" />
		</h:panelGroup>
	</h:form>



</ui:composition>