<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="genreForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste -->
		<p:dataTable var="genre" value="#{genreBean.glist}"
			emptyMessage="Brak rekordów w bazie." id="genDataTable">
			<f:facet name="header">  
            	Lista gatunków filmowych
       		 </f:facet>  
			<p:column headerText="Nazwa">
				<h:outputText value="#{genre.name}" />
			</p:column>
			<p:column>
				<p:commandButton value="Usuń" update=":contentForm:genreForm:deleteForm:delete" oncomplete="deleteDlg.show()" process="@this">
					<f:setPropertyActionListener value="#{genre}" target="#{genreBean.genre}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	
	<!-- Formularz kasowania członka -->
	<p:dialog header="Potwierdź usunięcie gatunku" id="deleteDlg" widgetVar="deleteDlg" resizable="true" modal="true">
	
		<!--  zamkniecie formularza powoduje aktualizacje tabelki oraz zresetowanie danych wejsciowych z formularza -->
		<p:ajax event="close" update="genDataTable" listener="#{menuBean.resetInput('contentForm:genreForm:deleteForm')}"/>  

		<h:form id="deleteForm">
			<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"	id="delete">
				<h:outputText value="Nazwa"  />
				<h:outputText value="#{genreBean.genre.name}"  />
				
				<p:commandButton value="Usuń" process="@form" action="#{genreBean.deleteGenre}" oncomplete="deleteDlg.hide()">
					<f:param name="id" value="#{genreBean.genre.id}" />		
				</p:commandButton>
				
				<p:commandButton value="Anuluj" onclick="deleteDlg.close()" >
		
				</p:commandButton>
				
						
			</p:panelGrid>
		
		</h:form>
	</p:dialog>
</h:form>
</ui:composition>