<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="genreForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste gatunkow -->
		<p:dataTable var="genre" value="#{genreBean.glist}"
			emptyMessage="Brak rekordów w bazie." id="genDataTable">
			<f:facet name="header">  
            	Lista gatunków filmowych
       		 </f:facet>  
			<p:column headerText="Nazwa">
				<h:outputText value="#{genre.name}" />
			</p:column>
			<p:column>
				<p:commandButton value="Edytuj" update=":contentForm:genreForm:editForm:edit" oncomplete="editDlg.show()" process="@this">  
                	<f:setPropertyActionListener value="#{genre}" target="#{genreBean.genre}" />  
                </p:commandButton>
			</p:column>
		</p:dataTable>

	
	<!-- Formularz edycji -->
	<h:form id="editForm">
	<p:dialog header="Edycja gatunku" id="editDlg" widgetVar="editDlg" resizable="true"	modal="true">
		<p:ajax event="close" update="editDlg,:contentForm:genreForm:genDataTable" listener="#{menuBean.resetInput('contentForm:genreForm:editForm')}"/>  
		
			<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"
				id="edit">
	 
				<h:outputText value="Nazwa: *"  />
				<p:inputText id="name" label="Name"
					value="#{genreBean.genre.name}" 
					required="true"
					validator="genreValidator">
					<f:validateLength minimum="1" maximum="255" for="name" />
					<f:converter converterId="genreConverter" />
					</p:inputText>
	
				<p:commandButton value="Edytuj" update="outInfo" process="@form" action="#{genreBean.editGenre}" 
				oncomplete="if (!args.validationFailed) editDlg.hide()">
				
					<f:param name="id" value="#{genreBean.genre.id}" />
					<f:setPropertyActionListener value="#{genreBean.genre}" target="#{genreBean.edited}" />
				</p:commandButton>
				
			</p:panelGrid>
			
			<h:panelGroup layout="block" id="outInfo" style="margin: 0 auto;">
				<p:messages id="messages" />
			</h:panelGroup>
				</p:dialog>
		</h:form>
			
	
</h:form>
</ui:composition>