<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="addForm" prependId="false">
	 
		<p:panelGrid columns="3" style="margin: 0 auto; text-align: center"
			id="addFormPanelGrid">

			<f:facet name="header">
	        	Dodawanie nowego filmu
	    	</f:facet>

			<h:outputText value="Tytuł: *" />
			<p:inputText id="title" label="title"
				value="#{movieBean.movie.title}" 
				required="true">
				<f:validator validatorId="requiredValidator" />
				</p:inputText>
			<h:outputText value="" />

			<h:outputText value="Gatunek: *" />
			<p:outputPanel id="genres">
			
				<p:dataList value="#{movieBean.selectedGenres.toArray()}" var="item">
					#{item.name}
					
    			</p:dataList>
			</p:outputPanel>
			
			<p:commandButton value="Wybierz"
				oncomplete="chooseGenres.show()" process="@this"
				/>
				
			

			<h:outputText value="Premiera na DVD: *" />
			<p:calendar value="#{movieBean.movie.dvdReleaseDate}" showButtonPanel="true" required="true" label="dvd_release_date" navigator="true" 
				pattern="dd/MM/yyyy"/>
				<h:outputText value="" />

			<p:commandButton value="Dodaj"
				actionListener="#{movieBean.addMovie}" update="output" />
			<p:commandButton value="Wyczyść" update="output,addFormPanelGrid"
				process="@this"
				actionListener="#{menuBean.resetInput('contentForm:addForm')}" />			 
		</p:panelGrid>

		<h:panelGroup layout="block" id="output" style="margin: 0 auto;">
			<p:messages id="messages" />
		</h:panelGroup>
	
	<!-- dialogbox wyswietlajacy menu wyboru gatunku filmu -->	
	<h:form id="chooseGenresForm">
		<p:dialog header="Wybierz gatunki" id="chooseGenres" widgetVar="chooseGenres" resizable="true"	modal="true">
	
		
			<p:selectManyCheckbox layout="pageDirection" value="#{movieBean.selectedGenresId}" >
				
				<f:selectItems value="#{genreBean.glist}" var="genre" itemLabel="#{genre.name}"  itemValue="#{genre.id}"/>
			</p:selectManyCheckbox>
			
			<p:commandButton value="Zatwierdź" oncomplete="chooseGenres.hide()" update=":contentForm:addForm:genres" process="@form"
			actionListener="#{movieBean.convertIdToObject}" />
			
		
		
		</p:dialog>
	</h:form>
	</h:form>



</ui:composition>