<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="movieForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste członków i możliwe akcje do wykonania -->
		<p:dataTable var="movie" value="#{movieBean.movieList}"
			emptyMessage="Brak rekordów w bazie." id="mDataTable">
			<f:facet name="header">  
            	Lista filmów w wypożyczalni
       		 </f:facet>  
			<p:column headerText="Tytuł">
				<h:outputText value="#{movie.title}" />
			</p:column>
			<p:column headerText="Gatunki">
				<ui:repeat value="#{movie.genres.toArray()}" var="genre">
					<h:outputText value="#{genre.name}" /> <br />
				</ui:repeat>
			</p:column>
			<p:column headerText="Data wydania na DVD">
				<h:outputText value="#{movie.dvdReleaseDate}">
					<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
				</h:outputText>
			</p:column>
			<p:column headerText="Dostępny">
					<h:outputText styleClass="ui-icon ui-icon-check" rendered="#{movie.available == true}"/>
					<h:outputText styleClass="ui-icon ui-icon-close" rendered="#{movie.available == false}"/>
			</p:column>
			<p:column>
				<p:commandButton value="Usuń" update=":contentForm:movieForm:deleteForm:delete" oncomplete="deleteDlg.show()" process="@this"
				action="#{movieBean.setMovie(movie)}">  
                	
                </p:commandButton>
			</p:column>
		</p:dataTable>
	
	<!-- Formularz kasowania członka -->
	<p:dialog header="Potwierdź usunięcie filmu" id="deleteDlg" widgetVar="deleteDlg" resizable="true"	modal="true">
	
		<!--  zamkniecie formularza powoduje aktualizacje tabelki oraz zresetowanie danych wejsciowych z formularza -->
		<p:ajax event="close" update="mDataTable" listener="#{menuBean.resetInput('contentForm:movieForm:deleteForm')}"/>  

		<h:form id="deleteForm">
			<p:panelGrid columns="2" style="margin: 0 auto; text-align: center"	id="delete">
				<h:outputText value="Tytuł"  />
				<h:outputText value="#{movieBean.movie.title}"  />
				
				<h:outputText value="Gatunki"  />
				<ui:repeat value="#{movieBean.movie.genres.toArray()}" var="genre">
					<h:outputText value="#{genre.name}" /> <br />
				</ui:repeat>
				
				<h:outputText value="Data wydania na DVD"  />
				<h:outputText value="#{movieBean.movie.dvdReleaseDate}"  />
				
				<p:commandButton value="Usuń" process="@form" action="#{movieBean.deleteMovie(movie)}" oncomplete="deleteDlg.hide()" update=":contentForm:movieForm:mDataTable">
				</p:commandButton>
				
				<p:commandButton value="Anuluj" onclick="deleteDlg.close()" >
		
				</p:commandButton>
				
						
			</p:panelGrid>
		
		</h:form>
	</p:dialog>
</h:form>
</ui:composition>