<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:form id="movieForm" prependId="false">

	<!-- Domyślny widok - pokazuje liste członków i możliwe akcje do wykonania -->
		<p:dataTable var="movie" value="#{movieBean.movieList}"
			emptyMessage="Brak rekordów w bazie." id="mDataTable">
			<f:facet name="header">  
            	Lista filmów w wypożyczalni
       		 </f:facet>  
			<p:column headerText="Tytuł">
				<h:outputText value="#{movie.title}" />
			</p:column>
			<p:column headerText="Gatunki">
				<ui:repeat value="#{movie.genres.toArray()}" var="genre">
					<h:outputText value="#{genre.name}" /> <br />
				</ui:repeat>
			</p:column>
			<p:column headerText="Data wydania na DVD">
				<h:outputText value="#{movie.dvdReleaseDate}">
					<f:convertDateTime type="date" pattern="yyyy-MM-dd" />
				</h:outputText>
			</p:column>
			<p:column headerText="Dostępny">
					<h:outputText styleClass="ui-icon ui-icon-check" rendered="#{movie.available == true}"/>
					<h:outputText styleClass="ui-icon ui-icon-close" rendered="#{movie.available == false}"/>
			</p:column>
			<p:column>
				<p:commandButton value="Edytuj" update=":contentForm:movieForm:editForm:edit" oncomplete="editDlg.show()" process="@this"
				action="#{editMovieBean.setMovie(movie)}">  
                	
                </p:commandButton>
			</p:column>
		</p:dataTable>
		
	<!-- Formularz edycji -->
	<p:dialog header="Edycja filmu" id="editDlg" widgetVar="editDlg" resizable="true"	modal="true">
		<p:ajax event="close" update="mDataTable" listener="#{menuBean.resetInput('contentForm:movieForm:editForm')}"/>  
		<h:form id="editForm">
			<p:panelGrid columns="3" style="margin: 0 auto; text-align: center"
				id="edit">
	 
				<h:outputText value="Tytuł: *"  />
				<p:inputText id="title" label="Title"
					value="#{editMovieBean.movie.title}" required="true">
					</p:inputText>
				<h:outputText value="" />
					
				<h:outputText value="Gatunki: " />
				<ui:repeat value="#{editMovieBean.movie.genres.toArray()}" var="genre">
					<h:outputText value="#{genre.name}" /> <br />
				</ui:repeat>
				
				
				
				<p:commandButton value="Wybierz"
				oncomplete="chooseGenres.show()" process="@form"
				action="#{editMovieBean.processTempGenreChange(editMovieBean.movie)}"
				update=":contentForm:movieForm:chooseGenresForm:chooseGenres">
				</p:commandButton>
				
				
				<h:outputText value="Premiera na DVD: *" />
					<p:calendar value="#{editMovieBean.movie.dvdReleaseDate}" showButtonPanel="true" required="true" label="dvd_release_date" 
					navigator="true" pattern="dd/MM/yyyy"/>
				<h:outputText value="" />
				
				<h:outputText value="Dostępny: *" />
					<h:outputText styleClass="ui-icon ui-icon-check" rendered="#{editMovieBean.movie.available == true}"/>
					<h:outputText styleClass="ui-icon ui-icon-close" rendered="#{editMovieBean.movie.available == false}"/>
				<h:outputText value="" />
				
	
				<p:commandButton value="Edytuj" update="outInfo" process="@form" action="#{editMovieBean.editMovie(editMovieBean.movie)}"
				oncomplete="if (!args.validationFailed) editDlg.hide()" >
				</p:commandButton>
				
			</p:panelGrid>
			
			<h:panelGroup layout="block" id="outInfo" style="margin: 0 auto;">
				<p:messages id="messages" />
			</h:panelGroup>
				
		</h:form>
		
	
			
	</p:dialog>
	
	<!-- dialogbox wyswietlajacy menu wyboru gatunku filmu -->	
		<h:form id="chooseGenresForm">
			
			<p:dialog header="Wybierz gatunki" id="chooseGenres" widgetVar="chooseGenres" resizable="true"	modal="true">
		
				<p:selectManyCheckbox layout="pageDirection" value="#{editMovieBean.selectedGenresId}" >
					
					<f:selectItems value="#{genreBean.glist}" var="genre" itemLabel="#{genre.name}" itemValue="#{genre.id}" />
				</p:selectManyCheckbox>
				
				<p:commandButton value="Zatwierdź" oncomplete="chooseGenres.hide()" update=":contentForm:movieForm:editForm:edit" process="@form"
				action="#{editMovieBean.processNewGenres(editMovieBean.selectedGenresId)}"
				
				/>		
			
			</p:dialog>
		</h:form>
</h:form>
</ui:composition>